.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.listItem {
  display: block;
  width: 300px;
  text-decoration: none;
  color: inherit;
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: 0.3s;
  padding-left: 10px;
}
.listItem:hover {
  cursor: pointer;
  opacity: 0.4;
  background-color: lightgray;
  color: inherit;
}

.listItem:last-child {
  border: 0;
}
